.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 800px;
  }

  .white {
    background-color: #eeeae3;
    height: 100px;
    width: 100px;
  }

  .black {
    background-color: black;
    height: 100px;
    width: 100px;
  }